{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="fullBg">
        <div class="container mx-auto pt-5">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-8 my-4">
                            <div class="text-center"> 
                                <img src="../../media/logo2.svg" width="65%">
                            </div>
                                <label for="inputEmail" class="form-control-label text-muted">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                <label for="inputPassword" class="form-control-label text-muted">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                 <div class="row justify-content-center my-3 px-3"> 
                                <button type="submit" class="btn-block btn-color">Se connecter</button> 
                            </div>
                            
                        </div>
                    </div>
                    <div class="bottom text-center mb-5">
                        <div class="sm-text mx-auto mb-3 px-4"> 
                            <button class="btn btn-white">
                                <a href="{{path('app_register')}}">
                                    Créer un compte
                                </a>
                            </button> 
                        </div>
                    <div class="row justify-content-center my-2"> <a href="{{path('app_register')}}"><small class="text-muted">Vous n'avez pas encore de compte?</small></a> </div>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <h2 class="text-white">Espace connexion</h2> 
                        {# <small class="text-white">Bienvenue, <br>sur l'espace connexion de Lunari.</small> #}
                    </div>
                </div>
            </div>
        </div>                     
    </div>
</form>
{% endblock %}
