<footer class="footer-area">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-social-link">
                        <ul class="list-unstyled">
                            <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            {# <li><a href="https://www.pinterest.com/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><i class="fab fa-pinterest-p"></i></a></li> #}
                            <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://vimeo.com/"><i class="fab fa-vimeo-v"></i></a></li>
                            {# <li><a href="https://dribbble.com/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="700"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="https://www.behance.net/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="800"><i class="fab fa-behance"></i></a></li> #}
                        </ul>
                    </div>
                </div>
                <div class="footer-main">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="footer-widget border-end">
                                <div class="footer-newsletter">
                                    <h2 class="title">{{'Notre newsletter' | trans}}</h2>
                                    <p>{{'Pour ne louper aucune de nos dernières actualités..' | trans}}</p>
                                    <form>
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Votre adresse e-mail">
                                            <button class="subscribe-btn" type="submit">{{'Souscrire' | trans}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">{{'Services' | trans}}</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="{{path('service')}}">{{'Entreprise' | trans}}</a></li>
                                                <li><a href="{{path('service')}}">{{'Evenemetiel' | trans}}</a></li>
                                                <li><a href="{{path('service')}}">{{'Publicité et Promotion' | trans}}</a></li>
                                                <li><a href="{{path('service')}}">{{'Réseaux sociaux' | trans}}</a></li>
                                                <li><a href="{{path('service')}}">{{'Animation et VFX' | trans}}</a></li>
                                                <li><a href="{{path('service')}}">{{'Educatif' | trans}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">{{'Nos solutions' | trans}}</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="{{path('service')}}">{{'Offre Unity' | trans}}</a></li>
                                                <li><a href="{{path('app_immersion')}}">{{'Abonnement Immersion' | trans}}</a></li>
                                                <li><a href="{{path('lunix')}}">{{'Abonnement Lunix' | trans}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Support</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="{{path('contact')}}">{{'Contact' | trans}}</a></li>
                                                <li><a href="{{path('conditions')}}">{{'Politique de confidentialité' | trans}}</a></li>
                                                <li><a href="{{path('conditions')}}">{{'Termes et conditions d\'utilisations' | trans}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">{{'© 2022. Tous droits réservés à' | trans}} <a href="https://lunari.ch/">Lunari.ch</a>.</span>
                                {# <span class="copyright-text">© Réalisation par <a href="https://sooft.ch/">Sooft.ch</a>.</span> #}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-link">
                                <ul class="list-unstyled">
                                    <li><a href="privacy-policy.html">{{'Politique de confidentialité' | trans}}</a></li>
                                    <li><a href="terms-of-use.html">{{'Termes et conditions d\'utilisations' | trans}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
