        <header class="header axil-header header-style-2">
            <div id="axil-sticky-placeholder"></div>
            <div class="axil-mainmenu">
                <div class="container-fluid">
                    <div class="header-navbar">
                        <div class="header-logo">
                            <a href="{{path('home')}}"><img class="light-version-logo" src="../../media/logo2.svg" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100" width="60%" alt="logo"></a>
                            <a href="{{path('home')}}"><img class="dark-version-logo" src="../../media/logo4.svg" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100" width="60%" alt="logo"></a>
                        </div>
                        <div class="header-main-nav">
                            <!-- Start Mainmanu Nav -->
                            <nav class="mainmenu-nav" id="mobilemenu-popup">
                                <div class="d-block d-lg-none">
                                    <div class="mobile-nav-header">
                                        <div class="mobile-nav-logo">
                                            <a href="{{path('home')}}">
                                                <img class="light-mode" src="../../media/logo2.svg" alt="Site Logo">
                                                <img class="dark-mode" src="../../media/logo4.svg" alt="Site Logo">
                                            </a>
                                        </div>
                                        <button class="mobile-menu-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <ul class="mainmenu">
                                    <li class="menu-item">
                                        <a href="{{path('home')}}">{{'Accueil' | trans}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path('service')}}">{{'Services' | trans}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path('portfolio')}}">{{'Nos projets' | trans}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{path('blog')}}">{{'Blog' | trans}}</a>
                                    </li>
                                    <li><a href="{{path('contact')}}">{{'Contact' | trans}}</a></li>
                                </ul>
                            </nav>
                            <!-- End Mainmanu Nav -->
                        </div>

                        <div class="dropdown text-end mx-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ asset('images/svg/flag/' ~ app.request.locale ~ '.svg') }}" alt="mdo" width="60" height="60" class="rounded">
                            </a>
                            <ul class="dropdown-menu text-small">
                                 {% for locale in locales %}
                                    {% if locale != app.request.locale %}
                                        <a class="dropdown-item" href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
                                    {% endif %}
                                {% endfor %}          
                            </ul>
                        </div>
                        <div class="header-action" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <ul class="list-unstyled">
                                <li class="sidemenu-btn d-lg-block d-none">
                                    <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenuRight">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                                    <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                {# <li class="my_switcher d-block d-lg-none">
                                    <ul>
                                        <li title="Light Mode">
                                            <a href="javascript:void(0)" class="setColor light" data-theme="light">
                                                <i class="fa-thin fa-lightbulb-on"></i>
                                            </a>
                                        </li>
                                        <li title="Dark Mode">
                                            <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                                                <i class="fas fa-moon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li> #}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>